<% for(var i = 0; i < users.length; i++) { %>
    <tr class="content" >
        <td><%= i + 1 %></td>
        <td><%= users[i].name %></td>
        <td><%= users[i].email %></td>
        <td><%= users[i].Marks1 %></td>
        <td></td>
        <td><%= users[i].Marks2 %></td>
        <td></td>
        <td><%= users[i].Marks4 %></td>
        <td></td>
        <td><%= users[i].Marks3 %></td>
        <td></td>
        <td><%= users[i].Marks5 %></td>
        <td></td>
        <td><% 
            var totalMarks = users[i].Marks1 + users[i].Marks2 + users[i].Marks3 + users[i].Marks4 + users[i].Marks5;
            var percentage = (totalMarks / 500) * 100;
            %>
            <%= percentage.toFixed(2) %>%
        </td>
        <td>
            <a href="/update-user?id=<%= users[i]._id%>" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
            </td>
            <td>
            <a class="btn border-shadow delete" data-id=<%= users[i]._id%> >
                <span class="text-gradient"><i class="fas fa-trash"></i></span>
            </a>
        </td>
    </tr>
    <% } %>
    